{
    "__merge" : [],
    "initialquests" : {
        "__merge" : [],
        "glitch" : [ "eggstra.gearup" ],
        "human" : [ "eggstra.gearup" ],
        "avian" : [ "eggstra.gearup" ],
        "apex" : [ "eggstra.gearup" ],
        "floran" : [ "eggstra.gearup" ],
        "hylotl" : [ "eggstra.gearup" ],
        "novakid+" : [ "eggstra.gearup" ],
        "peglaci" : [ "eggstra.gearup" ],
        "avali" : [ "eggstra.gearup" ]
    }
}