{
    "__merge" : [],
    "initialquests" : {
        "__merge" : [],
        "glitch" : [ "eggstra.gearup" ],
        "human" : [ "eggstra.gearup" ],
        "avian" : [ "eggstra.gearup" ],
        "apex" : [ "eggstra.gearup" ],
        "floran" : [ "eggstra.gearup" ],
        "hylotl" : [ "eggstra.gearup" ],
        "novakid+" : [ "eggstra.gearup" ],
        "peglaci" : [ "eggstra.gearup" ],
        "avali" : [ "eggstra.gearup" ],
        "argonian" : [ "eggstra.gearup" ],
        "ponex" : [ "eggstra.gearup" ],
        "ningen" : [ "eggstra.gearup" ],
        "felin" : [ "eggstra.gearup" ],
        "kemono" : [ "eggstra.gearup" ],
        "elven" : [ "eggstra.gearup" ],
        "grey" : [ "eggstra.gearup" ],
        "kangaru" : [ "eggstra.gearup" ],
        "familiar" : [ "eggstra.gearup" ],
        "timelord" : [ "eggstra.gearup" ],
        "kitsune" : [ "eggstra.gearup" ],
        "kaenid" : [ "eggstra.gearup" ],
        "neko" : [ "eggstra.gearup" ],
        "skellies" : [ "eggstra.gearup" ],
        "munari" : [ "eggstra.gearup" ],
        "kobold" : [ "eggstra.gearup" ],
        "mantis" : [ "eggstra.gearup" ],
        "reptan" : [ "eggstra.gearup" ],
        "bunnykin" : [ "eggstra.gearup" ],
        "mousqutaire" : [ "eggstra.gearup" ]
    }
}